@use "./../../../assets/styles/forms.scss";
h1{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
 #container{
     height: calc( 100vh - 40px - 40px);
     display: flex;
     align-items: center;
     justify-content: center;
}

